*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Игнорировать папки IDE
.idea/
*.iml

# Игнорировать папки Gradle
.gradle/
build/

# Игнорировать файлы macOS
.DS_Store

# Игнорировать другие временные папки (если есть)
mobileprograms/